.menu {
    list-style: none;
    display: flex;
    padding: 15px 5px;
    gap: 15px;
}

.link-style {
  white-space: nowrap;
}


a:link,
a:visited,
a:active,
a:hover {
  color: var(--font-color);
  text-decoration: none;

}

a {
  font-size: 14px;
}
