.menu {
    display: flex;
    padding: 15px 5px;
    gap: 15px;
}

.link-style {
  white-space: nowrap;
}

a:link,
a:visited,
a:active,
a:hover {
  color: var(--font-color);
  text-decoration: none;

}

a {
  font-size: 14px;
}

.menu-and-submenu {
  padding: 15px 5px;
  width: 100%;
  color: var(--font-color);
  font-size: 14px;
  display: block;
}
.menu-and-submenu:hover {
  cursor: pointer;
}

.sub-menu {
  flex-direction: column;
  position: absolute;
  width: 90%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}