@import url('../../GlobalVars/style.css');

.profile-infos {
  padding: 10px 15px;
  background-color: var(--color-card-background-tree);
  border-radius: 10px;
  border: 1px solid black;
}

.name-profile {
  color: var(--font-color);
  margin-left: 120px;
  margin-top: 0px;
  padding: 5px;
}

