.skill-boxes {
    display: grid;
    max-width: 800px;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-content: space-between;   
}

.skill-box-style {
    background-color:#292424;
    border-radius: 5px;
}

.techs-boxes {
    padding: 10px 5px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
}

.title-border {
   text-align: center;
   border-radius: 5px 5px 0px 0px;
   padding: 2px 0px;
   background-color: #292424;
}
