.card {
  display: flex;
  width: 390px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px black;
  transition: transform 0.3s ease-in-out;
}

.card:hover{
  transform: translate(2%, 2%) scale(1.04);
}

.left-card {
  width: 180px;
  height: 100%;
  color: var(--font-color);
  border-radius: 10px 0px 0px 10px;
  border: 1px solid black;
}

.left-card img {
  width: 180px;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.right-card {
  width: 210px;
  height: 100%;
  background-color: var(--color-card-background-two);
  color: var(--font-color);
  border-radius: 0px 10px 10px 0px;
  border: 1px solid black;
}
.right-card p, h5 {
  padding-left: 10px; 
}

@media (max-width : 806px) {
  .card {
    width: 93vw;
    margin-right: 10px;
  } 

  .right-card {
    width: 100%;
  }
} 

@media (max-width : 400px) {
  .left-card,
  .left-card img {
    width: 120px;
  }
  
}