* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.conteiner {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px black;
}


.conteiner2 {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

body {
  background-color: #D4ADFC;
}

